body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #ff0000;
}

.navbar {
  background-color: #ffde00 !important;
  border-bottom: none;
}

.navbar-brand {
  color: #3b4cca !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #3b4cca !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #1d2a6f !important;
}

.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.pokemon-list li {
  background-color: #ffde00;
}

.pokemon-button {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  border: none;
  background-color: #3b4cca;
  color: #ffde00;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.pokemon-button:hover {
  background-color: #4e5dcf;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .pokemon-list {
    max-width: 300px;
  }
  .pokemon-button {
    padding: 8px;
  }
}

.modal-content {
  background-color: #fff3cd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffeeba;
}

.modal-header {
  background-color: #ffde00;
  border-bottom: 1px solid #ffeeba;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  color: #3b4cca;
}

.modal-body {
  padding: 20px;
  text-align: center;
}

.modal-footer {
  background-color: #ffde00;
  border-top: 1px solid #ffeeba;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-footer .btn-secondary {
  background-color: #3b4cca;
  color: #ffde00;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #4e5dcf;
}
